<header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <div class="container header-line">
          <span class="navbar-brand">
           ALUTTE
          </span>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class ="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-link text-dark"> How to </li>
                <li class="nav-link text-dark"> ALUTTEとは？ </li>
                <li class="nav-link text-dark"> Q&A </li>
                <li class="nav-link text-dark"> sign up </li>
                <li class="nav-link text-dark"> login </li>
            </ul>
            <form class="search form-inline mt-2 mt-md-0">
                <div class="input-group">
                <input placeholder="キーワードを入力" class="form-control mt-1" type="text">
                <button class="point btn btn-outline-light" type="submit"><strong>検索</strong></button>
                </div>
            </form>
            <ul> </ul>
          </div>

        </div>
      </nav>
</header>
<main class="main">
    <section class="text-center">
        <div class="container">
            <h1 class="jumbotron-heading">
                <%= image_tag 'sample.png' ,class: "image1" %>
            </h1>
        </div>
    </section>
    <div class="album py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <section class="card-title mb-3">タイトル</section>
                            <p class="card-text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            <div class="justify-content-between align-items-center">
                                <div class="btn-group">
                                <button type="button" class="point point1 btn btn-outline-success btn-sm "><strong>あるって!!</strong></button>
                                <button type="button" class="point point1 btn white"></button>
                                <button type="button" class="point point1 btn btn-outline-danger btn-sm "><strong>ないって..</strong></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <section class="card-title mb-3">タイトル</section>
                            <p class="card-text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            <div class="justify-content-between align-items-center">
                                <div class="btn-group">
                                <button type="button" class="point point2 btn btn-outline-success btn-sm "><strong>あるって!!</strong></button>
                                <button type="button" class="point point2 btn white"></button>
                                <button type="button" class="point point2 btn btn-outline-danger btn-sm "><strong>ないって..</strong></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <section class="card-title mb-3">タイトル</section>
                            <p class="card-text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            <div class="justify-content-between align-items-center">
                                <div class="btn-group">
                                <button type="button" class="point point3 btn btn-outline-success btn-sm "><strong>あるって!!</strong></button>
                                <button type="button" class="point point3 btn white"></button>
                                <button type="button" class="point point3 btn btn-outline-danger btn-sm "><strong>ないって..</strong></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <section class="card-title mb-3">タイトル</section>
                            <p class="card-text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            <div class="justify-content-between align-items-center">
                                <div class="btn-group">
                                <button type="button" class="point point4 btn btn-outline-success btn-sm "><strong>あるって!!</strong></button>
                                <button type="button" class="point point4 btn white"></button>
                                <button type="button" class="point point4 btn btn-outline-danger btn-sm "><strong>ないって..</strong></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <section class="card-title mb-3">タイトル</section>
                            <p class="card-text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            <div class="justify-content-between align-items-center">
                                <div class="btn-group">
                                <button type="button" class="point point5 btn btn-outline-success btn-sm "><strong>あるって!!</strong></button>
                                <button type="button" class="point point5 btn white"></button>
                                <button type="button" class="point point5 btn btn-outline-danger btn-sm "><strong>ないって..</strong></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <section class="card-title mb-3">タイトル</section>
                            <p class="card-text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            <div class="justify-content-between align-items-center">
                                <div class="btn-group">
                                <button type="button" class="point point6 btn btn-outline-success btn-sm "><strong>あるって!!</strong></button>
                                <button type="button" class="point point6 btn white"></button>
                                <button type="button" class="point point6 btn btn-outline-danger btn-sm "><strong>ないって..</strong></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <section class="card-title mb-3">タイトル</section>
                            <p class="card-text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            <div class="justify-content-between align-items-center">
                                <div class="btn-group">
                                <button type="button" class="point point7 btn btn-outline-success btn-sm "><strong>あるって!!</strong></button>
                                <button type="button" class="point point7 btn white"></button>
                                <button type="button" class="point point7 btn btn-outline-danger btn-sm "><strong>ないって..</strong></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <section class="card-title mb-3">タイトル</section>
                            <p class="card-text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            <div class="justify-content-between align-items-center">
                                <div class="btn-group">
                                <button type="button" class="point point8 btn btn-outline-success btn-sm "><strong>あるって!!</strong></button>
                                <button type="button" class="point point8 btn white"></button>
                                <button type="button" class="point point8 btn btn-outline-danger btn-sm "><strong>ないって..</strong></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
