<header>
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
          <span class="navbar-brand">
           ALUTTE
          </span>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class ="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-link text-dark"> How to </li>
                <li class="nav-link text-light"> ALUTTEとは？ </li>
                <li class="nav-link text-light"> Q&A </li>
                <li class="nav-link text-light"> sign up </li>
                <li class="nav-link text-light"> login </li>
            </ul>
          </div>
        </div>
      </nav>
</header>
<main class="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">aaaaaaa</h1>
        </div>
    </section>
</main>
