/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
header{
    height: 100px;
    background: #59cbe8;
    font-family: "Noto Sans JP",sans-serif;
    font-weight: 700;
}
footer{
    height: 60px;
    width: 100%;
    text-align: center;
    color: #fff;
    background: #000;
    position: absolute;/*←絶対位置*/
    bottom: 0;
}
footer p{
    padding-top: 20px;
}
.header-line{
    border-bottom: solid 10px #000;
}
.fixed-top{
    height: 100px;
    background-color: #59cbe8;
}
body{
    background: #59cbe8;
    font-family: "Noto Sans JP",sans-serif;
    font-weight: 700;
    position: relative;
}
.navbar-brand{
    font-size: 45px;
}
.nav-link{
    color: black;
    font-size: 13px;
    border-bottom: solid 3px #59cbe8;
}
.nav-link:hover{
    border-bottom: solid 3px #fff;
    cursor: pointer;
}


#navbarNavDropdown{
    background: #59cbe8;
}
.card-body{
    text-align: center;
}
.card-title{
    font-weight: 900;
    font-size: 30px;
    color: #ff8c00;
}
.navbar-collapse{
    text-align: center;
}
.point{
    // border-width: 5px;
    border: solid 5px #59cbe8;
}
.white{
    border: solid 1px #fff;
    border-color: transparent;
    color: #fff;
}

.active{

}
.image1 {
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
  padding-right: 30px;
}
.image2 {
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
}

// .merit{
//     width: 100%;
//     height: 100%;
// }
 .tabs{
     font-size: 20px;
 }




ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Noto Sans JP",sans-serif;
}
// #accordion_menu > li {
//     border: #ccc 1px solid;
//     margin-bottom: -1px;
// }
#accordion_menu a{
    color: #000;
}
#accordion_menu a[data-toggle="collapse"]{
    display: block;
    padding: 27px;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    font-weight: 300;
}
// #accordion_menu a[data-toggle="collapse"]:hover{
//     background: #e7e7e7;
// }
#accordion_menu a[data-toggle="collapse"]::after{
    content:"";
    display: block;
    width: 20px;
    height: 20px;
    border-top: #666 4px solid;
    border-right: #666 4px solid;
    position: absolute;
    right: 35px;
    top: 13px;
    bottom: 0;
    margin: auto;
}
#accordion_menu a[aria-expanded=false]::after{
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transition-duration: 0.3s;
}
#accordion_menu a[aria-expanded=true]::after{
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    transition-duration: 0.3s;
}
// [id^="menu"] li{
//     padding: 10px 10px 10px 20px;
// }
.answer{
    font-weight: 300;
    margin-top: 10px;
}
.question{
    margin-right: 30px;
}

#back{
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    z-index: 5;
}
#back:hover{
    right: 25px;
    bottom: 25px;
    width: 40px;
}

#create{
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
}


//swiper内の画像調整のための高さ調節
/* すべての画面サイズで適用される設定 */
.swiper-container {
    width: 100%;
    // height: 600px;
}
// /* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
// @media screen and (max-width: 991px) {
//   .swiper-container {
//     height: 400px;
//   }
// }
// /* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
// @media screen and (max-width: 767px) {
//   .swiper-container{
//     height: 300px;
//   }
// }
// /* スマートフォンサイズ（425px）以下の際に適用される設定 */
// @media screen and (max-width: 575px) {
//   .swiper-container{
//     height: 270px;
//   }
// }

